/* cyrillic-ext */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  src: url("../static/fonts/Manrope-ExtraLight.ttf");
}

/* cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: url("../static/fonts/Manrope-Light.ttf");
}

/* vietnamese */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../static/fonts/Manrope-Regular.ttf");
}

/* latin-ext */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../static/fonts/Manrope-Medium.ttf");
}

/* latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../static/fonts/Manrope-SemiBold.ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../static/fonts/Manrope-Bold.ttf");
}

/* cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../static/fonts/Manrope-ExtraBold.ttf");
}

/* greek-ext */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  src: url("../static/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rahere_Roman";
  font-style: normal;
  src: url("../static/fonts/ULGA\ Type\ -\ Rahere\ Roman\ Display\ Regular.otf");
}

@font-face {
  font-family: "Bickham_script_three";
  font-style: normal;
  src: url("../static/fonts/BickhamScriptThree.ttf");
}
