.carousel-control-prev-icon {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  top: 50%;
  left: 0px;
  transform: translate(20px, -25px);
}

.carousel-control-next-icon {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  top: 50%;
  left: 100%;
  transform: translate(-70px, -25px);
}

.parallax-wrap {
  position: absolute;
  display: block;
  pointer-events: auto;
  left: 77px;
  top: 102px;
  z-index: 5;
  visibility: visible;
  top: 200px;
}

.slider_1_big_text {
  z-index: 5;
  font-family: "Rahere_Roman", "serif";
  text-transform: uppercase;
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: inherit;
  line-height: 83px;
  letter-spacing: 12px;
  font-weight: 300;
  font-size: 83px;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  transform: translate(0px);
  visibility: visible;
}

.slider_1_big_text span {
  font-family: "Playfair Display", serif !important;
  font-style: italic !important;
  text-transform: none !important;
  letter-spacing: 3px !important;
  font-size: 88% !important;
  margin-left: 25px !important;
  margin-right: 10px !important;
}

.button_slide {
  z-index: 6;
  font-family: "Manrope";
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: inherit;
  line-height: 14px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 14px;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  transform: translate(0px);
  visibility: visible;
}

.sc_item_btn {
  color: #ffffff !important;
  background-color: #be9667;
}

.sc_button_default {
  padding: 2.136em 3.4em !important;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  padding: 1.75em 3em;
  font-size: 0.786em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.25em;
  letter-spacing: 0.2em;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel-indicators {
  opacity: 1;
  width: 291px;
  height: 1px;
  transform: translate(-145px, -68px) !important;
  top: 100% !important;
  left: 50% !important;
  display: block !important;
  margin: 0 !important;
}

.carousel-indicators>button {
  background-color: rgba(190, 150, 103, 0.5) !important;
  width: 97px !important;
  height: 1px !important;
  margin: 0 !important;
}

.carousel-indicators .active {
  background-color: #be9667 !important;
  height: 3px !important;
}

a {
  text-decoration: none !important;
}

.carousel-review .carousel-indicators {
  top: 22rem !important;
  width: 240px;
}

.carousel-review .carousel-indicators>button {
  width: 80px !important;
}

.vc_custom_1556716015243 {
  margin-bottom: 3.5em !important;
}

.carousel_custom .carousel-indicators {
  display: none !important;
}

.carousel_custom .swiper-slide {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn_slide {
  padding-top: 311px;
}

@media only screen and (min-width: 1440px) {
  .carousel_custom .swiper-slide {
    height: 410px;
  }
}

@media only screen and (min-width: 1262px) and (max-width: 1440px) {
  .carousel_custom .swiper-slide {
    height: 365px;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media only screen and (min-width: 1135px) and (max-width: 1262px) {
  .carousel_custom .swiper-slide {
    height: 343px;
  }

  .slider_1_big_text {
    font-size: 76px;
    line-height: 76px;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1135px) {
  .carousel_custom .swiper-slide {
    height: 373px;
  }

  .slider_1_big_text {
    font-size: 68px;
    line-height: 68px;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media only screen and (min-width: 959px) and (max-width: 1024px) {
  .carousel_custom .swiper-slide {
    height: 337px;
  }

  .slider_1_big_text {
    font-size: 60px;
    line-height: 60px;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 959px) {
  .carousel_custom .swiper-slide {
    height: 398px;
  }

  .slider_1_big_text {
    font-size: 47px;
    line-height: 47px;
  }

  .sc_button_default {
    padding: 1.3em 2em !important;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media only screen and (min-width: 639px) and (max-width: 767px) {
  .carousel_custom .swiper-slide {
    height: 337px;
  }

  .slider_1_big_text {
    font-size: 35px;
    line-height: 35px;
  }

  .sc_button_default {
    padding: 1em 2em !important;
    font-size: 10px;
  }

  .btn_slide {
    padding-top: 220px;
  }

  .parallax-wrap {
    top: 100px;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  .carousel_custom .swiper-slide {
    height: 247px;
  }

  .slider_1_big_text {
    font-size: 31px;
    line-height: 31px;
  }

  .sc_button_default {
    padding: 1em 2em !important;
    font-size: 10px;
  }

  .btn_slide {
    padding-top: 180px;
  }

  .parallax-wrap {
    top: 100px;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media only screen and (max-width: 479px) {
  .carousel_custom .swiper-slide {
    height: 168px;
  }

  .slider_1_big_text {
    font-size: 20px;
    line-height: 20px;
  }

  .sc_button_default {
    padding: 0.5em 1em !important;
    font-size: 10px;
  }

  .btn_slide {
    padding-top: 150px;
  }

  .parallax-wrap {
    top: 80px;
  }

  .carousel-indicators>button {
    width: 50px !important;
    position: absolute;
  }

  .carousel-indicators>button:nth-child(1) {
    left: 0;
    top: 0;
  }

  .carousel-indicators>button:nth-child(2) {
    top: 0;
    left: 97px;
  }

  .carousel-indicators>button:nth-child(3) {
    left: 194px;
    top: 0;
  }

  .carousel-review .carousel-indicators {
    top: 29rem !important;
    width: 240px;
  }
}

@media (max-width: 767px) {

  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }

  .carousel_custom .carousel-control-prev,
  .carousel_custom .carousel-control-next {
    display: block !important;
  }

  .carousel-review .carousel-indicators {
    top: 35rem !important;
    width: 240px;
  }
}

@media (max-width: 567px) {
  .carousel-review .carousel-indicators {
    top: 40rem !important;
    width: 240px;
  }
}

@media (max-width: 440px) {
  .carousel-review .carousel-indicators {
    top: 45rem !important;
    width: 240px;
  }
}

@media (max-width: 365px) {
  .carousel-review .carousel-indicators {
    top: 51rem !important;
    width: 240px;
  }
}